/* main > .container {
  padding: 60px 15px 0;
} */


.topnav a{
  float: centre;
  text-align: center;
}

.container-navigation{
  /* margin-right: 20px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end; 
}





/* About us &&& location.html */
.location-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.location-all {
  /* background-color: #3b73d4ff; */
  margin-bottom: 0;
  margin-top: 20px;
}

.location-all h1{
  max-width: 960px;
  font-size: 30px;
  margin: auto;
  text-align: center;
  margin-top: 30px;
}

.Locations{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
}

.location-para h3{
  max-width: 960px;
  font-size: 25px;
  margin: auto;
  text-align: center;
}

.location-para p {
  max-width: 960px;
  /* font-size: 20px; */
  margin: auto;
  text-align: center;
}

.location-para{
  margin-top: 30px;
  margin-bottom: 30px;
}


/* @media only screen and (max-width: 860px) {
  .location-para p {
      font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .location-para p {
      font-size: 15px;
  }
} */


.location-group {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1px 0 1px;
}

/* a responsive navigation menu */
@media screen and (max-width: 1200px) {
  .location-group {
      width: 33.33%;
  }
}

@media screen and (max-width: 700px) {
  .location-group {
      width: 50%;
  }
}

@media screen and (max-width: 300px) {
  .p5js-group {
      width: 100%;
  }
}



/* contact us-------- */
.contactus{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; 
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

